// .bg-login {
// 	background-image: url("../../assets//img/login-BG.jpg");
// 	background-size: cover;
// 	background-position: center;
// 	// background-repeat: ;
// }

// .card-login {
// 	// .tombol-sign {
// 	// 	border-radius: 10%;
// 	// }
// 	.social-wrapper {
// 		display: flex;

// 		.icon-wrapper {
// 			background-color: white;
// 			padding: 10px;
// 			border-radius: 40px;
// 			margin: 0px 10px;
// 		}
// 		.icon-medsos {
// 			width: 40px;
// 			height: 40px;
// 			object-fit: contain;
// 		}
// 	}
// }

.auth-LR {
  font-family: "Raleway", sans-serif;
  // background: #000000;

  .background-login {
    background: linear-gradient(to right, transparent, white), url("../../assets//img/sign-in.jpg") no-repeat;
    opacity: 0.5;
    .box {
      margin-top: 35vh;
    }
  }
  .background-signUP {
    background: linear-gradient(to right, transparent, white), url("../../assets//img/sign-up.jpg") no-repeat;
    opacity: 0.7;

    .box {
      margin-top: 10vh;
    }
  }

  .background-login,
  .background-signUP {
    background-size: cover;
    height: 100vh;
    display: flex;

    .text {
      margin-top: 45vh;
      flex: 1;
      margin-left: 10%;
      font-weight: 100px;
      h1 {
        font-size: 70px;
        color: #ffffff;
        font-weight: 500;
      }
      p {
        font-size: 20px;
        color: #ffffff;
        font-weight: 300;
        a {
          color: #ffffff;
          font-weight: 700;
        }
      }
      .social-wrapper {
        display: flex;

        .google {
          background: url("../../assets//icon/google.svg") no-repeat;
        }
        .google:hover {
          background: url("../../assets//icon/google-1.svg") no-repeat;
        }
        .facebook {
          background: url("../../assets//icon/facebook.svg") no-repeat;
        }
        .facebook:hover {
          background: url("../../assets//icon/facebook-1.svg") no-repeat;
        }
        .twitter {
          background: url("../../assets//icon/twitter.svg") no-repeat;
        }
        .twitter:hover {
          background: url("../../assets//icon/twitter-1.svg") no-repeat;
        }

        .google,
        .facebook,
        .twitter {
          border-radius: 40px;
          width: 50px;
          height: 50px;
          background-color: black;
          background-size: 30px 30px;
          padding: 10px;
          background-position: center;
          margin: 0px 10px;
        }
        .google:hover,
        .facebook:hover,
        .twitter:hover {
          border-radius: 40px;
          width: 50px;
          height: 50px;
          background-color: white;
          background-size: 30px 30px;
          padding: 10px;
          background-position: center;
        }
      }
    }

    .box {
      margin-left: 25%;

      flex: 1;
      .form {
        background: transparent;
        color: #fff;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 250px;
        input {
          margin: 20px 0;
          padding: 10px;
          background: transparent;
          border: none;
          outline: none;
          color: #000000;
          font-weight: bold;
        }
        input:invalid {
          box-shadow: none;
        }
        .username,
        .password,
        .fullname,
        .email {
          border-bottom: 1px solid #000000;
        }
        .button {
          background: transparent;
          border: 1px solid #000000;
          color: #000000;
          font-size: 18px;
          transition: all 0.5s ease;
        }
        .button:hover {
          background: #000000;
          color: #ffffff;
        }
        a {
          margin-top: 10px;
          color: #000000;
          font-weight: 100;
          font-size: 12px;
          text-align: center;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
