.table-medals {
  th {
    font-size: large;
    vertical-align: middle !important;
    padding-bottom: 0.75rem !important;
    padding-top: 0.75rem !important;
  }
  td {
    font-family: "Poppins", sans-serif;
  }
}
