@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
	font-family: "Lato", sans-serif;
}

.home,
.products {
	display: flex;
	height: 90vh;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
}
