.sidebar-fixed {
	.kotak {
		top: 80px;
		height: 80px;
		// width: 100px;
		background-color: #45cafc;
		position: relative;
		// border: 1px solid black;
		padding: 10px;
		padding-left: 8px;
		.isi {
			display: flex;
			flex-direction: column;
			text-align: center;
			align-items: center;
			img {
				width: 40px;
			}
		}
	}
	.kotak:hover {
		background-color: #ff1744;
		cursor: pointer;
	}
}
